node_modules/
.env
.DS_Store
logs/
*.log
coverage/
.nyc_output/
dev_certs/
*.config.cjs
/src/generated
/prisma/migrations
CLAUDE.md
/.vscode
/src/generated/prisma
prisma-client/
nginx/
/docs
certs-mock/
.claude/
